.checkout {

	&__products {
	}
}
.selected-product {
	background-color: #fff;

	&__item {
		@include flexbox();
		align-items: center;
		padding: 15px;
		border-bottom: 1px solid #e9e9e9;
		
		&:last-child {
			border-bottom: none;
		}
	}

	&__delete {
		flex: 0 0 17px;
		width: 17px;
		height: 17px;
		margin: 0 70px 0 0;
		background: url('../img/button-delete.png') 0 0 no-repeat;
		cursor: pointer;

		@media (max-width:450px) {
			margin: 0px 15px 0px 0px;
		}
	}

	&__row {
		width: 100%;
		@include flexbox();
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}
	}

	&__info {
		flex: 1 1 650px;
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		margin: 0px 70px 0px 0px;

		@media (max-width: 1100px) {
			margin: 0;
		}

		@media (max-width:$md2+px) {
			flex-direction: column;
			margin: 0px 0px 30px 0px;
		}
	}

	&__desc {
		@include flexbox();
		align-items: center;

		img {
			display: block;
		}

		@media (max-width:400px) {
			flex-direction: column;
		}
	}

	&__title {
		margin: 0px 0px 0px 15px;
		width: 190px;
		color: #292626;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;

		&:hover {
			text-decoration: underline;
		}
	}

	&__price {
		font-size: 22px;
		color:#000;
		font-weight: 700;
		text-transform: uppercase;

		span {
			margin: 0px 30px 0px 0px;
			font-size: 16px;
			color: #7c7373;
			text-decoration: line-through;
			text-decoration-color: #ff0000;
		}
	}

	&__control {
		
	}
}
.control {
	flex: 1 1 340px;
	@include flexbox();
	justify-content: space-between;
	align-items: center;

	@media (max-width: 1100px) {
		justify-content: center;
	}

	@media (max-width:$md4+px) {
		flex-direction: column;
	}

	&__quantity {
		width: 160px;
		margin: 0px 30px 0px 0px;
		@include flexbox();
		align-items: center;

		@media (max-width:$md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__down,
	&__up {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #fff;
		font-size: 18px;
		color: #7c7373;
		position: relative;

		&:before {
			content:'';
			width: 20px;
			height: 2px;
			background-color: rgb(253, 155, 0);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include anim(0.3s,0s);
		}

		&:hover:before {
			background-color: #000;
		}
	}
		
	&__up {
		&:after {
			content:'';
			width: 2px;
			height: 20px;
			background-color: rgb(253, 155, 0);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include anim(0.3s,0s);
		}

		&:hover:after {
			background-color: #000;
		}
	}

	&__count {
		margin: 0 5px;
		width: 50px;
		height: 50px;
		background-color: #f7f7f7;
		font-size: 18px;
		color: #7c7373;
		text-align: center;
	}
	
	&__total {
		font-size: 22px;
		color:#000;
		font-weight: 700;
		text-transform: uppercase;
	}
}


.total {
	width: 405px;
	@include flexbox();
	justify-content: space-between;
	align-items: center;
	background-color: #00b5ab;
	margin: 0 0 0 auto;
	padding: 20px 15px;

	@media (max-width:$md4+px) {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	&__text {
		font-size: 15px;
		color:#fff;
		font-weight: 500;
		text-transform: uppercase;

		@media (max-width:$md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__summa {
		font-size: 20px;
		color:#fff;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.form-checkout {
	padding: 15px 15px 40px;

	@media (max-width:$md3+px) {
		padding: 15px 5px 40px;
	}

	&__head {
		@include flexbox();
		border-bottom: 2px solid #dedede;
		margin: 0px 0px 35px 0px;

		@media (max-width:$md3+px) {
			flex-direction: column;
		}
	}

	&__title {
		padding: 20px 25px;
		font-size: 16px;
		color: #292626;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;

		&:before {
			content:'';
			width: 100%;
			height: 2px;
			background-color: #dedede;
			position: absolute;
			left: 0;
			bottom: -2px;
			@include anim(0.3s,0s);
		}

		&:hover:before,
		&.active:before {
			background-color: #e38b00;
		}
	}

	&__inner {
		margin: 0 -15px;
		display: none;

		&.active {
			display: block;
		}
	}

	&__content {	
		@include flexbox();
		flex-wrap: wrap;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px;

		@media (max-width:$md2+px) {
			flex: 0 1 100%;
		}
	}

	&__row {
		margin: 0px 0px 17px 0px;
		@include flexbox();
		align-items: center;
		color: #292626;
		font-size: 15px;
		line-height: 1.47;

		@media (max-width:$md3+px) {
			flex-direction: column;
			align-items: start;
		}

		&--width {
			max-width: 555px;
			margin: 0px 15px 17px 15px;
		}
	}

	&__label {
		flex: 0 0 120px;
		
		span {
			color: #fda225;
		}

		&--top {
			align-self: start;
			margin-top: 15px;
		}

		@media (max-width:$md3+px) {
			flex: 1 1 auto;

			&--top {
				margin: 0;
			}
		}
	}

	&__container {
		flex: 0 1 100%;
		width: 100%;
		position: relative;

		&--arrow {
			position: relative;

			&:before {
				content:'';
				width: 12px;
				height: 12px;
				border-top: 2px solid #fc9a00;
				border-right: 2px solid #fc9a00;
				pointer-events: none;
				transform: rotate(135deg);
				position: absolute;
				top: 50%;
				right: 18px;
				z-index: 2;
				margin-top: -8px;
			}
		}
	}

	&__password {
		font-size: 15px;
		color: #00b5ab;
		font-weight: 500;
		position: absolute;
		top: 15px;
		right: 35px;
		z-index: 1;

		&:hover {
			text-decoration: underline;
		}
	}

	&__input {
		width: 100%;
		border: 1px solid #d1d1d1;
		background-color: #fff;
		line-height: 45px;
		padding: 0 20px;

		&--textarea {
			resize: none;
			padding: 10px 20px;
			height: 150px;
			line-height: 1.47;
		}

		&:focus {
			border-color: #fda225;
		}
	}

	&__select {
		appearance: none;
		font-family: inherit;
		font-size: 15px;
	}

	&__text {
		padding: 5px 0;
		color: #7c7373;
		font-size: 15px;
		line-height: 1.25;
	}

	&__btn {
		margin: 0px 0px 0px 135px;

		@media (max-width:$md3+px) {
			margin: 0px 0px 0px 15px;
		}
	}
}
.noregistered:before .active {
	width: 100%;
}
.registered:before .active {
	width: 100%;
}


